<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Namespace" value="NPA.Ehraz"/>
		<add key="Prefix" value="E"/>
		<add key="ConnectionString" value="data source=.;initial catalog=NPA.Ehraz;user id=sa;password=Kahkeshan@123;MultipleActiveResultSets=True"/>
	</appSettings>
</configuration>